<%= render partial: 'shared/navbar' %>
<h1>Listing Meetings</h1>
<div class="table-responsive">
  <table class="table">
    <tr>
      <th>Id</th>
      <th>Key Note</th>
      <th>Status</th>
      <th>Date</th>
      <th>Start Time</th>
      <th>Duration(In min)</th>
      <th>Venue</th>
      <th>Organiser</th>
      <th>Edit</th>
      <th>Delete</th>      
    </tr>

  <% @meetings.each do |meeting| %>
    <tr>
      <td><%= meeting.id %></td>
      <td><%= meeting.key_note %></td>
      <td><%= meeting.status %></td>
      <td><%= meeting.date %></td>
      <td><%= meeting.start_time.strftime('%H:%M') %></td>
      <td><%= meeting.duration%></td>
      <td><%= meeting.venue.name.nil? ? 'not available' : meeting.venue.name %></td>
      <td><%= meeting.organiser.name.nil? ? 'not available' : meeting.organiser.name %></td>
      <td><%= link_to "Edit", edit_users_employees_meeting_url(meeting) %></td>
      <td><%= link_to "Remove", users_employees_meeting_path(meeting.id), method: :delete, data: { confirm: "Are you sure?" } %></td>
      <td><%= link_to "Add agenda", new_agenda_url(mom_id: meeting.mom.id) %></td>
      <td><%= link_to "Add Members", add_members_users_employees_meeting_url(meeting) %></td>
      <td><%= link_to "Remove Members", remove_members_users_employees_meeting_url(meeting) %></td>
    </tr>
  <% end %>
  </table>
</div>
<br>