<td><%= venue.name %></td>
<td><%= venue.address %></td>
<td><%= venue.capacity %></td>
<td><%= venue.status %></td>
<td class="edit", data-id='<%= venue._id %>' >edit</td>
<td class="delete", data-id='<%= venue._id %>'>delete</td>
